<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KisahNabi"
        tools:targetApi="31">
        <activity
            android:name=".RosulIsaActivity"
            android:exported="false" />
        <activity
            android:name=".RosulMusaActivity"
            android:exported="false" />
        <activity
            android:name=".NabiMusaActivity"
            android:exported="false" />
        <activity
            android:name=".NabiSyuaibActivity"
            android:exported="false" />
        <activity
            android:name=".NabiAyyubActivity"
            android:exported="false" />
        <activity
            android:name=".NabiYusufActivity"
            android:exported="false" />
        <activity
            android:name=".NabiYaqubActivity"
            android:exported="false" />
        <activity
            android:name=".NabiIshaqActivity"
            android:exported="false" />
        <activity
            android:name=".NabiLuthActivity"
            android:exported="false" />
        <activity
            android:name=".NabiIsmailActivity"
            android:exported="false" />
        <activity
            android:name=".NabiIbrahimActivity"
            android:exported="false" />
        <activity
            android:name=".RosulMuhammadActivity"
            android:exported="false" />
        <activity
            android:name=".NabiSalehActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity_Quiz5"
            android:exported="false" />
        <activity
            android:name=".MainActivity_Quiz4"
            android:exported="false" />
        <activity
            android:name=".MainActivity_Quiz3"
            android:exported="false" />
        <activity
            android:name=".MainActivity_quiz3"
            android:exported="false" />
        <activity
            android:name=".NabiHudActivity"
            android:exported="false" />
        <activity
            android:name=".NabiNuhActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity_Quiz"
            android:exported="false" />
        <activity
            android:name=".MainActivity_Quiz2"
            android:exported="false" />
        <activity
            android:name=".NabiIdrisActivity"
            android:exported="false" />
        <activity
            android:name=".NabiAdamActivity"
            android:exported="false" />
        <activity
            android:name=".KisahrosulActivity"
            android:exported="false" />
        <activity
            android:name=".KisahNabi"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>